* {
    font-family: sans-serif
}
.form {
    display: flex;
    flex-direction: column;
}
.head {
    padding: 32px 62px;
}

h2 {
    padding: 16px 62px;
}
.body {
    padding: 8px 62px;
}

.label-command, .label-commit-hash {
    margin-bottom: 4px;
}

input {
    height: 32px;
    border-width: 0 0 .1em 0;
    margin-bottom: 8px;
    border-color: #ff6262c7;
}
input::placeholder {
    color: #e1e2e3;
}

.submit-button {
    width: 256px;
    border-radius: 4px;
    background: linear-gradient(-180deg,#34d058,#28a745);
    border: 0;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
    font-size: 1em;

}
.submit-button:hover {
    transform: scale(1.01);
 }

.data-table {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr repeat(2, .5fr);
    grid-row-gap: 8px;
}

.data-table__head {
    display: contents;
    text-overflow: ellipsis;
    text-align: left;
    white-space: nowrap;
    padding: 16px 0;
}
.data-table__body {
    display: contents;
}

.data-table-row,.data-table-row__cell {
    display: contents;
    border-bottom: 1px solid #e1e2e3;
}

.data-table-row__cell-header {
    display: contents;
    padding: 16px 0;
}

.label-commit {
    color: #1a3dc1;
}
.status-passed {
    background-color: #28a745;
    padding: 4px 8px;
    border-radius: 4px;
    color: white;
    width: 64px;
    text-align: center;
}
.status-failed {
    background-color: #ff6262;
    padding: 4px 8px;
    border-radius: 4px;
    color: white;
    width: 64px;
    text-align: center;
}
textarea {
    width: 100%;
    height: 256px;
}

.dates {
    padding: 16px 0;
}