* {
    font-family: sans-serif
}
.form {
    display: flex;
    flex-direction: column;
}
.head {
    padding: 32px 62px;
}
.body {
    padding: 8px 62px;
}

.label-command, .label-commit-hash {
    margin-bottom: 4px;
}

input {
    height: 32px;
    border-width: 0 0 .1em 0;
    margin-bottom: 8px;
    border-color: #ff6262c7;
}
input::placeholder {
    color: #e1e2e3;
}

.submit-button {
    width: 256px;
    border-radius: 4px;
    background: linear-gradient(-180deg,#34d058,#28a745);
    border: 0;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
    font-size: 1em;

}
.submit-button:hover {
    transform: scale(1.01);
 }